<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
      <center>
        Main Page
        <form action="/access">
          <input class="name" type="text" placeholder="Place your name">
          <input class="accessButton" type="submit" value="access page">
        </form>

        <form action="/access">
          <input class="button" type="submit" value="access">
          </form>
        <form action="/teacher">
          <input class="teacherButton" type="submit" value="teacher page">
        </form>

      </center>
  </body>
</html>
