<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center><h1>epic students page!!!!!</h1>
    <table>
   <tr>
      <th>Professionalism</th><th>Empathy</th><th>Innovation</th><th>Optimism</th><th>Integrity</th><th>Perseverance</th>
   </tr>
   <tr>
      <td>yourpoints</td><td>yourpoints</td><td>yourpoints</td><td>yourpoints</td><td>yourpoints</td><td>yourpoints</td>
   <tr>
   </tr>
  </body>
</html>
