<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center><h1>epic teachers page!!!!!</h1>
    <input type="text" name="name" placeholder="Student ID here" value="">
    <table>
   <tr>
      <th>Professionalism</th><th>Empathy</th><th>Innovation</th><th>Optimism</th><th>Integrity</th><th>Perseverance</th>
   </tr>
   <tr>
      <td><button>+5</button></td><td><button>+5</button></td><td><button>+5</button></td><td><button>+5</button></td><td><button>+5</button></td><td><button>+5</button></td>
   <tr>
      <td><button>+10</button></td><td><button>+10</button></td><td><button>+10</button></td><td><button>+10</button></td><td><button>+10</button></td><td><button>+10</button></td>
   </tr>
   <tr>
      <td><button>+20</button></td><td><button>+20</button></td><td><button>+20</button></td><td><button>+20</button></td><td><button>+20</button></td><td><button>+20</button></td>
   </tr>
</table>
  </body>
</html>
