<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teacher Page</title>
  </head>
  <body>

    <form>
        <input type="button" name="" value="Add Points">
        <br>
        <input type="button" name="" value="Remove Points">
        <br>
        Student Name:
        <input type="text" name="student">

    </form>


  </body>
  <script type="text/javascript">

  </script>
</html>
